VITE_SUPABASE_URL=https://lutgguzheoivacugiqgo.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx1dGdndXpoZW9pdmFjdWdpcWdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEzMzAxMjAsImV4cCI6MjA3NjkwNjEyMH0.wX0mbQKnHG-aUHIuMxF4rRgxhui32vaIONOJrO2_q6E
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx1dGdndXpoZW9pdmFjdWdpcWdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEzMzAxMjAsImV4cCI6MjA3NjkwNjEyMH0.wX0mbQKnHG-aUHIuMxF4rRgxhui32vaIONOJrO2_q6E